*
{
margin: 0;
padding: 0;

}
body
{
    font-family: sana-serif;
    
}
#nav-bar
{
    font-size: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to left, rgb(63, 63, 241), rgb(6, 164, 238));
    padding: 5 !important;
}

.navbar-brand img
{
    height: 40px;
    /* padding-left: 20px; */
}

.navbar-nav
{
    padding: 0 5px;
    /* font-size: 20px; */
    float: right;
    text-align: right;
}

.navbar-nav a
{
    color: #fff !important;
    font-weight: 600;
     
}

.dropdown-menu
{
    width: 100px;
}

.parent .child{
    display: inline;
    color: rgb(90, 87, 93);
    transition: 300ms;
}
.parent:hover .child{
    color: rgb(55, 129, 220);
    font-size: 18px;
}
.child{
    margin-right: 10px;
}



.fa .fa-user-circle{
    padding-right: 10px;
}

.fa-bars
{
    color: white;
    font-size: 30px !important;


}

.navbar-toggler {
    box-shadow: none !important;
    border: none !important;;
}

.side-bar{
    background: #74abe1;
    padding-bottom: 10%;
    padding-top: 5%;
    height: 100vh;


}

.card-container {
  /* display: flex; */
  justify-content: space-between;
  width: 30%;
}

.user-icon{
    display: flex;
  justify-content: space-between;

}

.vertical-acount-user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#row{
    display: flex; 
    flex-wrap: wrap; 
    height: 700px; 
    overflow: auto; 
    /* position: absolute; */
}


#patient-container{
      margin: 10px auto;
      position: relative;
}

/* #alert-row{
    position: relative;
} */

#container-row{
    position: absolute;
    top: 0;
      left: 0;
      right: 0;
      bottom: 0;
}

#add-patient-container{
    position: absolute;
    top: 0;
      left: 0;
      right: 0;
      bottom: 0;
}