<html>
    <head>
        <title>Brain tumor Detection Website</title>
        <link rel="stylesheet" href="static/dashboardstyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/22a4e0612a.js" ></script>

    </head>

    <body>
        <!-- NAVBAR SECTION-->
        <section id="nav-bar">
          
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  
                    <div class="nav-item dropdown">
                        <button class="nav-link user-icon" type="button" id="userDropdown" data-bs-toggle="dropdown"><i class="fa fa-user" aria-hidden="true" style="color: white; font-size: larger;"></i></button>
 
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <li>   

                          <div class="vertical-acount-user">
                            <a class="dropdown-item parent" href="{{url_for('account')}}">

                              <i class="fa fa-user-circle child"></i>
                              <p class="child" style="font-weight: 600;">Account</p>
                            </a>
                            <span id="user-show" style="font-size: smaller; font-weight: 450;"></span>
                          </div>
                          <li><hr class="dropdown-divider"></li>
                            
                            
                        </li>
                        <li>
                           
                            <a class="dropdown-item parent" href= "{{url_for('dashboard')}}"> <i class="fa fa-tachometer child"></i><p class="child" style="font-weight: 600;"> Dashboard</p></a>
                        </li>
                        <li>
                            
                            <a class="dropdown-item parent" href="{{url_for('logout')}}"><i class="fa fa-sign-out child"></i> <p class="child" style="font-weight: 600;"> Logout</p></a>
                        </li>
                      </ul>

                    </div>

                

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars" aria-hidden="true"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                      <a class="nav-link" href="{{url_for('home')}}#footer">Contact</a>
                      <a class="nav-link" href="{{url_for('home')}}#about-us">About</a>
                      <a class="nav-link" href="{{url_for('home')}}#services">Services</a>
                      <a class="nav-link" href="{{url_for('home')}}#banner">Home</a>
                    </div>
                  </div>
                </div>
              </nav>
              
        </section>

        <!-- PATIENT SECTION -->

        <section>

          

            <div class="container-fluid" id="patient-container">
              
              <div class="row" id="container-row">
                <div class="col-md-9" style="position: relative;">

                  <div class="row" id="row"></div>

                  </div>

                <div class="col-md-3 text-center side-bar ">

                      <!-- Add patient And Main Dashboard -->
                      <div class="col-md-6 mb-3" style="justify-content: flex-start; display: flex; width: 100%;">
                        <button class="btn btn-primary" style="width: 100%;" id="all-patients"> <b> Main Dashboard</b></button>
                      </div>

                      <div class="col-md-6 mb-5" style="justify-content: flex-start; display: flex; width: 100%;">
                        <button class="btn btn-primary add-patient" style="width: 100% ;" ><b> Add Patient</b></button>
                      </div>
           
                    <!-- ####### -->

                    <div class="row mt-3">

                    
                      <form action="" id="search-form" method="get">
                      <div class="input-group">
                        
                        <input id="search-input" type="number"  class="form-control" placeholder="Search in patiant" name="search_id"/>
                        
                        <div class="input-group-prepend">
                          <button id="search-button" type="submit" class="btn btn-primary" form="search-form"  style="padding-top: 10px; padding-bottom: 10px;"><i class="fa fa-search"></i></button>
                        </div>

                      
                    </div>
                  </form>

                    </div>

                    <div class="row mt-5">
                      <p> <b>You Can Simply Upload MRI Photo To Diagnose Without Adding Patient</b> </p>
                      
                      <input class="form-control" type="file" name="mri-img" multiple="multiple" id="diagnose-input" accept="image/*">

                      <button id="fast-btn" class="btn btn-primary" type="button" onclick="show_fast_diagnose_res()">Diagnose</button>

                    
                      <p id="diagnose-result"></p>


                    </div>

                    
                    

                  </div>
                </div>
                
                <div class="row" id="add-patient-container"></div>
              
                <div class="row" id="alert-row"></div>
                
                
              </div>

        </section>
        
        
    </body>



    <script>

    console.log()
      try
      {var contents = JSON.parse('{{ contents|tojson }}');
    }
        
      catch{
        var contents = {};

      }

      console.log(contents); 
      localStorage.username = contents["user"];
      console.log(contents["user"]);
      patients = contents["patients"];
      localStorage.setItem("patients", JSON.stringify(patients));

      document.getElementById("user-show").innerHTML = localStorage.username;
    

    function card_holder(i){
      var html =        `<div class="col-md-4 mr-3 ml-3 card-container" id="div${i}">` + 
                          `<div class="card">` +

                            `<img class="card-img-top" src="static/images/brain-tumor.jpg" alt="Card image cap" onclick="display_images(this.id)" id="image${i}">` +
                              '<div class="card-body">' +
                                `<p class="card-title" id="modal_title${i}"><b>Name : </b></p>` + 
                                `<p class="card-text" id="modal-id${i}"><b>ID Number : </b></p>` + 
                                `<p class="card-text" id="modal-date${i}"><b>Service date : </b></p>` + 
                                `<p class="card-text" id="modal-diagnose${i}"><b>Diagnose : <b></p>` + 
                                `<div class="button-group">` +
                                `<button type="button"  class="btn btn-primary Edit-button" id="edit${i}" onClick="edit_button(this.id)">View & Edit</button>` +
                                `<button type="button"  class="btn btn-primary delete-button" id="delete${i}"  onClick="delete_button(this.id)">Delete</button>` +
                              `</div>`+ 
                              `</div>`+ 
                          `</div>` +
                        `</div>`;
      return html;
    };

    
    var div_row = $('div#row').empty(); 
    var eq = {}; 
    var counter = 0;   
    patients = JSON.parse(localStorage.getItem("patients"));
    for(let number in patients){
      eq[number] = counter;
      counter += 1; 
      patient = patients[number];
      // alert(number);
      firstname = patient.f; 
      // alert(firstname);
      lastname = patient.l;
      id = patient.i;
      date = new Date(patient.d).toDateString();
      note = patient.n;
      diagnose = patient.diagnose;
      div_row.append(card_holder(id)); 
      // document.getElementById(`row${}`).innerHTML = html;
      document.getElementById(`modal_title${id}`).innerHTML += firstname + " " + lastname;
      document.getElementById(`modal-id${id}`).innerHTML +=  id;

      document.getElementById(`modal-date${id}`).innerHTML += date;

      document.getElementById(`image${id}`).style.cursor = "pointer";

      if (diagnose != "" ){
        document.getElementById(`modal-diagnose${id}`).innerHTML += diagnose;
      }
      // diagnose_button(id);
      
    };

    
    // Add Patient Section Start
    $('.add-patient').on('click', function(e){
      e.preventDefault();
      patients = JSON.parse(localStorage.getItem("patients"));
      var current_ids = Object.keys(patients);
      localStorage.setItem("current_ids", JSON.stringify(current_ids));
      localStorage.isadd = 1;

      // var modal_div = document.createElement("div");
      modal_div = document.getElementById("add-patient-container");
      modal_div.innerHTML = `<div class="modal fade" data-bs-backdrop="static" id="PatientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">` +
              `<div class="modal-dialog modal-lg" >` +
              `<div class="modal-content" >` +
            `</div>` +
          `</div>`+
        `</div>` ;

      // document.body.appendChild(modal_div);
      // $("#add-patient-container").html(modal_div); 
      $("#PatientModal").modal("show").find('.modal-content').load("{{url_for('edit')}}");
      


    });
    // Add Patient Section End

    

    function edit_button(clicked_id){
      var clicked_number = clicked_id.match(/-?\d+\.?\d*/);
      patients = JSON.parse(localStorage.getItem("patients"));
      patient = patients[clicked_number];

      localStorage.firstname = patient.f;
      localStorage.lastname = patient.l;
      localStorage.id = patient.i;
      localStorage.date = patient.d;
      localStorage.note = patient.n;
      localStorage.isadd = 0;

      modal_div = document.getElementById("add-patient-container");
      modal_div.innerHTML = `<div class="modal fade" data-bs-backdrop="static" id="PatientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">` +
              `<div class="modal-dialog modal-lg" >` +
              `<div class="modal-content" >` +
            `</div>` +
          `</div>`+
        `</div>` ;

      
      $('#PatientModal').modal('show').find('.modal-content').load("{{url_for('edit')}}");
    }

    function delete_button(clicked_id){
      var clicked_number = clicked_id.match(/-?\d+\.?\d*/);
      localStorage.equivilant = eq[clicked_number];
      localStorage.clicked_number = document.getElementById(`modal-id${clicked_number}`).innerHTML.match(/-?\d+\.?\d*/);
      var modal_div = document.createElement("div");
      modal_div.innerHTML = `<div class="modal fade" data-bs-backdrop="static" id="delete-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">` +
              `<div class="modal-dialog">` +
                `<div class="modal-content">` +
                `</div>` +
              `</div>` +
            `</div>`;


      document.body.appendChild(modal_div);
      $('#delete-modal').modal('show').find('.modal-content').load("{{url_for('delete')}}");

    };

    function diagnose_button(clicked_id){
      var clicked_number = clicked_id.match(/-?\d+\.?\d*/);

      $.getJSON('/diagnose', 
      {"id": clicked_number},
       function(data) {
        result = data.result;
        if (result != "Erorr"){
          document.getElementById(`modal-diagnose${clicked_number}`).innerHTML = "<b>Diagnose : </b>" + result;
        }
        else{
          // alert("Please Upload MRI Photo!")
          document.getElementById(`modal-diagnose${clicked_number}`).innerHTML = "<b>Diagnose : </b>" ;
        }

        
        
      });

    };


const searchButton = document.getElementById('all-patients');
searchButton.addEventListener('click', () => {
  window.location = "/dashboard";
});

// Fast Diangose Section Start
var fast_diagnose_res = "";
document.getElementById('diagnose-input').addEventListener('change', function() {
  
  var form_data = new FormData();
  var ins = document.getElementById("diagnose-input").files.length;
  form_data.append("mri-img", document.getElementById("diagnose-input").files[0]);

  // console.log(form_data);

  $.ajax({
    url: '/diagnose', 
    data: form_data,
    type: "POST",
    contentType: false,
    cache: false,
    processData: false,
    
    }).done(function(response) {
    fast_diagnose_res = response.result;
});
    
});

function show_fast_diagnose_res(){
  if (fast_diagnose_res.length == 0){
  // alert("Please Upload MRI Image");
  set_alert("Please Upload MRI Image", "r");
  return;
}
  document.getElementById("diagnose-result").innerHTML = fast_diagnose_res;
}
// Fast Diangose Section End


  // Display MRI Image Start
  function display_images(clicked_id){
    var clicked_number = clicked_id.match(/-?\d+\.?\d*/);
    localStorage.clicked_number = clicked_number;
    const imageId = clicked_number; // Replace with the actual image ID
    var url;

    var modal_div = document.createElement('div');
    modal_div.id = "modal_images_content";
    document.body.appendChild(modal_div);

    $.ajax({
      url:"/modal_image",
      success: function(response){
        $('#modal_images_content').html(response);
      }
    });


    // $('#modal_images_content').load("{{url_for('modal_image')}}");
  
    fetch(`/get_image/${imageId}`)
  .then(response => {
    if (response.ok) {
      return response.blob();
    } else {
      throw new Error("Image retrieval failed");
    }
  })
  .then(blob => {
    if (blob.size > 0){
      url = URL.createObjectURL(blob);
      console.log(url);
      modal_image.style.display = "block";
      mri_image.src = url;
      close_modal(modal_div.id);
    }
    else{
      // alert("You have not uploaded the photo yet");
      set_alert("You have not uploaded the photo yet", "r");
      modal_image.style.display = "none";
      close_modal(modal_div.id, true);
    }
      
  })
  .catch(error => {
    // alert("You have not uploaded the photo yet");
    set_alert("You have not uploaded the photo yet", "r");
    modal_image.style.display = "none";
    close_modal(modal_div.id, true);
  });


    }
   
  // Display MRI Image End


    // Close Modal 

    function close_modal(modal_container_id, not_listen=false){
      
    if (not_listen){
      $(`#${modal_container_id}`).remove();
        $("#userDropdown").on("click", function(){
          $(this).dropdown("toggle");
        });
    }
    else{
      var close_modal_btn = $(".close-modal");
      close_modal_btn.click(function() {
        $(`#${modal_container_id}`).remove();
        $("#userDropdown").on("click", function(){
          $(this).dropdown("toggle");
        });
        
    });
    }
        
        
    };

    function set_alert(mess, color){
      // alert("alert");
      var alert_html = `
                  <div id="message-alert" class="alert alert-success alert-dismissible text-center .fade .show mt-" role="alert" style="display: none;">
                    <button type="button" class="btn-close" data-bs-dismiss="#message-alert" aria-label="Close"></button>
                  </div>`;
      var alert_div = document.getElementById("alert-row");
      alert_div.innerHTML = alert_html;

      var alert_container = $("#message-alert");
      if (color=="r"){
        var presentClassName = alert_container.attr('class');
        alert_container.removeClass(presentClassName).addClass("alert alert-danger text-center ");

      }
      else{
      var presentClassName = alert_container.attr('class');
      alert_container.removeClass(presentClassName).addClass("alert alert-success text-center");
      }
      alert_container.text(mess);
      alert_container.fadeIn();
      
      setTimeout(() => {
        alert_container.fadeOut();
      }, 4000);
    }
  
      


</script>
<html>