<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://kit.fontawesome.com/22a4e0612a.js" ></script>

  <title>Account Details</title>
  <style>
    .container {
      max-width: 500px;
      margin: 50px auto;
      position: relative;
    }

    .forgot-password{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

  </style>
</head>
<body>
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="modal-btn-toggle">Open modal for @mdo</button> -->

  <div class="container">
    <div class="row">
      <div id="message-alert" class="alert alert-success text-center" role="alert" style="display: none; "></div>
    </div>


        <div class="row forgot-password" style="margin-top: 70px;" >
            
            

            <div class="modal fade" data-bs-backdrop="static" id="forgot-pass-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content" >
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-title">Forgot Password</h5>
                        <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
            
                    <div class="modal-body">
                        <form method="post" name="form" id="form" action="">
                            <div class="form-row">
                                
                                <div class="col" style="margin-bottom: 10px;" >
                                    <!-- <label for="email">Email:</label> -->
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
                                </div>
                                
                                <div class="pass-change" id="pass-change" style="display: none; margin-bottom: 15px;">
                                    
                                    <div class="col" style="margin-bottom: 10px;">
                                        <!-- <label for="token">Current Password:</label> -->
                                        <input type="password" class="form-control" id="token" name="token" placeholder="Enter Token Sended To Your Email" >
                                    </div>
                                    <div class="col" style="margin-bottom: 10px;">
                                        <!-- <label for="newpassword">New Password:</label> -->
                                        <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="Enter New Password" >
                                    </div>
                                    <div class="col" style="margin-bottom: 10px;">
                                        <!-- <label for="confirmpassword">Confirm Password:</label> -->
                                        <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm New password">
                                    </div>
                                </div>
                                
                                
                            </div>
                        </form>
                    </div>
            
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="submit" form="form" class="btn btn-primary">Send Token</button>
                        
                    </div>
                
                </div>
            </div>
        </div>
                
        
  </div>
    
    
  </div>
</body>

<script>
    var myModal = document.getElementById('forgot-pass-modal');
    var myModalBtn = document.getElementById('modal-btn-toggle');

    var token = document.getElementById("token");
    var new_password = document.getElementById("newpassword");
    var confirm_password = document.getElementById("confirmpassword");
    var email = $("#email");


    submit_button = document.getElementById("submit");
    var pass_change_form = $("#pass-change");
    var i = 0;


    submit_button.addEventListener("click", function(){

        if (validateEmail(email.val())){
            document.forms["form"].setAttribute("onsubmit", "return true");
            email.hide();
            i += 1;

        }
        else{
            alert("Enter A Valid Email!");
            document.forms["form"].setAttribute("onsubmit", "return false");
        }


        if (i%2==1){
            pass_change_form.fadeIn();
            token.required = "required";
            new_password.required = "required";
            confirm_password.required = "required";
            if (new_password.value == confirm_password.value ){
            document.forms["form"].setAttribute("onsubmit", "return true");
        }
        else {
            // alert("new_password and the Confirmation aren't the same");
            set_alert("New Password And The Confirmation Aren't The Same!", "r");
            document.forms["form"].setAttribute("onsubmit", "return false");
        }

        }
        else{
            pass_change_form.fadeOut();
            password.value = new_password.value = confirm_password.value = "";
            password.required = null;
            new_password.required = null;
            confirm_password.required = null;

        }
        
 

    })

    


    function validateEmail(email) {
    const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return regex.test(email);
    }

    myModalBtn.addEventListener('click', function() {
			var bootstrapModal = new bootstrap.Modal(myModal);
			bootstrapModal.toggle();
        
			});




</script>
</html>